canvas {
    
    background-image: url(./images/background\ 2.0.png);
    background-size: cover;
    background-repeat: no-repeat;
}

body {
    text-align: center;
}

/* #endGame {

    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    

} */


#score {
    
    display: flex;
    /* flex-direction: column; */
    justify-content: center;

    align-items: center;
    top: 55%;
    left: 50%;

}